@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Successfully Process
        </h1>
        Your Order Number is: @Model.orderId
        <br>
        <br>
        <img src="~/images/verySpicy.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br>
        Your order has been place successfully!
        <br>
        Thank you.
    </div>
</div>